*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
  background-color: cornflowerblue;
  color: white;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo_principal{
  text-align: center;
  padding: 20px 20px 0 20px;
}

.lista_ciudades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 20px 0 20px 20px;
  list-style-type: none;
  font-size: larger;
}

.medida{
  text-align: center;
  padding-bottom: 20px;
}

section {
  height: 750PX;
}

#ciudad {
  text-align: center;
  margin: 35px;
  font-size: 35px;
  font-weight: lighter;
}

#container_cards {
  display: none;
  justify-content: center;
}

.card {
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.3) 5px 7px 7px 0px;
  margin: 10px;
  height: 250px;
  width: 200px;
  padding: 20px;
  text-align: center;
}

.card > h3 {
  padding: 10px 0;
}

.card > p {
  padding: 10px 0;
}

.card ion-icon {
  font-size: 64px;
}

[name="cloudy"] {
  color: lightgrey;
}

[name="rainy"] {
  color: grey;
}

[name="sunny"] {
  color: goldenrod;
}

[name="partly-sunny"] {
  color: lightsteelblue;
}

footer{
  background-color: black;
  height: 70px;
  text-align: center;
  padding-top: 20px;
}
.cookies {
  display: inline-block;
  color: white;
}

a{
  padding-right: 20px;
}
#btnAcepto{
  background-color: goldenrod;
  font-size: larger;
  padding: 10px;
}